{% extends "base_logout.html" %}

{% block title %}about{% endblock title %}

{% block content %}

<!-- About -->

<br><br><br>

<div class="container">
  
  <hr> 
  <h1 align="center"><b>LightShare</b></h1>
  <h3 align="center">A Social Networking Based Discussion Groups</h3>
  <hr>
  <div class="col-sm-12">
  <div>
        <h2 align="center"><b>Developed By</b></h2>
        <hr>
        <div class="row">

         <div class="col-lg-6">
          <div style="text-align: center;">
          <img class="img-circle" src="/static/img/arif.jpg" alt="Arif" style="width: 200px; height: 200px;">
          </div>
          <br>
          <h2 align="center"><em><b>Arif Uz Zaman</b></em></h2>
          <h4 align="center"><b>Level-3,Term-2</b></h4>
          <h4 align="center"><b>Student ID: 1005031</b></h4>
          <h4 align="center"><b>Dept. of CSE,BUET</b></h4>
          
        </div><!-- /.col-lg-6 -->

        <div class="col-lg-6">
          <div style="text-align: center;">
          <img class="img-circle" src="/static/img/shantanu.jpg" alt="Shantanu" style="width: 200px; height: 200px;">
          </div>
          <br>
          <h2 align="center"><em><b>Shantanu Shipon Sarkar</b></em></h2>
          <h4 align="center"><b>Level-3,Term-2</b></h4>
          <h4 align="center"><b>Student ID: 1005054</b></h4>
          <h4 align="center"><b>Dept. of CSE,BUET</b></h4>
        </div><!-- /.col-lg-6 -->

        </div><!-- /.row -->
      </div> 

      <br>
      <hr>   
      <div>
        <h2 align="center"><b>SuperVised By</b></h2>
        <hr>
        <div class="row">

        <div class="col-lg-6">
          <h2 align="center"><a href="http://www.buet.ac.bd/cse/faculty/facdetail.php?id=johramoosa" target="_blank"><em><b>Johra Muhammad Moosa</b></em></a></h2>
          <h2 align="center"><b>Lecturer,</b></h2>
          <h2 align="center"><b>Dept. of CSE,BUET</b></h2>
        </div><!-- /.col-lg-6 -->

        <div class="col-lg-6">
          <h2 align="center"><a href="http://www.buet.ac.bd/cse/faculty/facdetail.php?id=sadia" target="_blank"><em><b>Dr. Sadia Sharmin</b></em></a></h2>
          <h2 align="center"><b>Lecturer,</b></h2>
          <h2 align="center"><b>Dept. of CSE,BUET</b></h2>
        </div><!-- /.col-lg-6 -->

        </div><!-- /.row -->
      </div>

      <br>
      <hr>   
      <div>
        <h2 align="center"><b><em>Special Thanks</em></b></h2>
        <hr>
        <div class="row">

        <div class="col-lg-12">
          <h2 align="center"><a href="#"><em><b>Shohidul Islam</b></em></a></h2>
          <h2 align="center"><b>Sadia Ele.</b></h2>
          <h2 align="center"><b>Chapai Nawabgonj,Bangladesh.</b></h2>
        </div><!-- /.col-lg-4 -->

        </div><!-- /.row -->
      </div>
  </div>
      
</div>

{% endblock content %}