{% extends "base_login.html" %}

{% block title %}settings{% endblock title %}
{% block pro %} "/lightshare/user/profile/{{ ur.id }}" {% endblock pro %}
{% block name %} {{ session_name }} {% endblock name %}

{% block content %}

</br></br></br></br>

<hr>

<div align="center">

<form method="POST" action="/lightshare/change_password/$/" class="form-signin" role="form" style="width:30%"> {% csrf_token %}
    <div>

	    {% if success %}
			<div class="alert alert-success" role="alert">Your Password Has Been Successfully Changed !!</div>
		{% endif %}
		{% if alert %}
			<div class="alert alert-danger" role="alert">Wrong Password, Please Try Again.</div>
		{% endif %}
		
        <p> <input class="form-control" name="password1" type="password" placeholder="Old Password" required autofocus /></p>
        <p> <input class="form-control" name="password2" type="password" placeholder="New Password" required /></p>

        </br>
        <button class="btn btn-success btn-lg btn-block active" type="submit"><strong>Change Password</strong></button>

    </div>
</form>
	
</div>

{% endblock content %}