{% extends "base_login.html" %}

{% block title %} {{ session_name }} {% endblock title %}
{% block pro %} "/lightshare/user/profile/{{ ur.id }}" {% endblock pro %}
{% block name %} {{ session_name }} {% endblock name %}

{% block content %}

</br></br></br></br>

<hr>
<div class="container">
    <div class="row">

      <div class="col-sm-3"><!--left col-->
                             
          <div class="panel panel-default">
            <div class="panel-heading">Favourite</div>

                <ul class="list-group">
            
                    {% for key, value in favs_list.items %}

                    <li class="list-group-item text-muted"><a href="/lightshare/{{ key }}/home">{{ value }}</a></li>
                        
                    {% endfor %}

                </ul>

          </div>
          
      </div><!--/col-3-->

      <div class="col-sm-9">

      <div>

        <hr>
        <h2 align="center"><em><b>Admin/Moderator</b></em></h2>
        <hr>

        <div class="row">

        {% if ad %}
              
            <div>

                {% for key, value in ad.items %}
    
                  <div class="col-lg-4">
                  <img class="img-circle" src="/media/gpic.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
                  <h2><a href="/lightshare/{{ key }}/home">{{ value }}</a></h2>
                  </div><!-- /.col-lg-4 -->
    
                {% endfor %}
            
            </div>

        {% else %}

            <h3 align="center"><em><b>You are not Admin/Moderator to any Group!</b></em></h3>

        {% endif %}
    
        </div><!-- /.row -->

        </br>
          
        {% if ad %}
            
            <div>
                <form action="/lightshare/ad_mod_groups/">
                <button class="btn btn-info btn-lg btn-block"><b>View All</b></button>
                </form>
            </div>
            
        {% endif %}

        <hr>
        <h2 align="center"><em><b>All Group</b></em></h2>
        <hr>

        <div class="row">

          {% if all %}
              
            <div>

            {% for key, value in all.items %}

              <div class="col-lg-4">
              <img class="img-circle" src="/media/gpic.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
              <h2><a href="/lightshare/{{ key }}/home">{{ value }}</a></h2>
              </div><!-- /.col-lg-4 -->

            {% endfor %}
            
            </div>

          {% else %}

              <h3 align="center"><em><b>You Have not Joined in any Group!</b></em></h3>

          {% endif %}
      
        </div><!-- /.row -->

          </br>
          
          {% if all %}

            <form action="/lightshare/all_groups/">
            <button class="btn btn-info btn-lg btn-block" ><b>View All</b></button>
            </form>
            
          {% endif %}

        <hr>
        <h2 align="center"><em><b>Recommended Group</b></em></h2>
        <hr>

        <div class="row">

        {% for key, value in rec.items %}

            <div class="col-lg-4">
            <img class="img-circle" src="/media/gpic.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
            <h2><a href="/lightshare/{{ key }}/home">{{ value }}</a></h2>
            </div><!-- /.col-lg-4 -->

        {% endfor %}

        </div><!-- /.row -->
        </br>
        <div>
            <form action="/lightshare/recommended_groups/">
            <button class="btn btn-info btn-lg btn-block" ><b>View All</b></button>
            </form>
        </div>

      </div>  

      </div><!--/col-9-->
    </div><!--/row-->
</div>

{% endblock content %}