{% extends "base_logout.html" %}

{% block title %}invalid_login{% endblock title %}

{% block content %}

</br></br></br></br>

    <!-- Invalid Login Message
    ================================================== -->
	
    <div class="container">
    <hr class="featurette-divider">
    <div class="hero-unit">
    <h2 align="center">
        "Invalid Email/Password Combination. Please <a href="/lightshare/login/">Try Again</a>."
    </h2>
    </div>
    </div> <!-- /container -->

{% endblock content %}