{% extends "base_logout.html" %}

{% block title %}signup_success{% endblock title %}

{% block content %}

</br></br></br></br>

    <!-- Successful Signup Message
    ================================================== -->

    <div class="container">
    <hr class="featurette-divider">
    <div class="hero-unit">
    <h2 align="center">
        "Congratulations! You Have Successfully Registered.</br> Login <a href="/lightshare/login/">here</a>."
    </h2>
    </div>
    </div> <!-- /container -->

{% endblock content %}